<!-- image Modals -->
<!-- 🔽 HTML 구조 -->
  <div class="row justify-content-center g-3 raon-gallery">
	<div class="col-auto">
	  <img src="assets/img/imageModal/thumbs/20240525.jpg" 
	       data-full="assets/img/imageModal/20240525.jpg" 
	       alt="28회 성남문화예술제 음악제 포스터" 
	       class="raon-thumb" 
	       onclick="openModal(this)">
	</div>
	<div class="col-auto">
	  <img src="assets/img/imageModal/thumbs/20191228.jpg" 
	       data-full="assets/img/imageModal/20191228.jpg" 
	       alt="환희의 송가 포스터" 
	       class="raon-thumb" 
	       onclick="openModal(this)">
	</div>
	<div class="col-auto">
	  <img src="assets/img/imageModal/thumbs/20191217.jpg" 
	       data-full="assets/img/imageModal/20191217.jpg" 
	       alt="크리스마스 공연" 
	       class="raon-thumb" 
	       onclick="openModal(this)">
	</div>
	<div class="col-auto">
	  <img src="assets/img/imageModal/thumbs/20191001.jpg" 
	       data-full="assets/img/imageModal/20191001.jpg" 
	       alt="울림3 포스터" 
	       class="raon-thumb" 
	       onclick="openModal(this)">
	</div>
	<div class="col-auto">
	  <img src="assets/img/imageModal/thumbs/20190227.jpg" 
	       data-full="assets/img/imageModal/20190227.jpg" 
	       alt="나의조국 포스터" 
	       class="raon-thumb" 
	       onclick="openModal(this)">
	</div>
	<div class="col-auto">
	  <img src="assets/img/imageModal/thumbs/20181005.jpg" 
	       data-full="assets/img/imageModal/20181005.jpg" 
	       alt="베르디 레퀴엠 포스터" 
	       class="raon-thumb" 
	       onclick="openModal(this)">
	</div>
	<div class="col-auto">
	  <img src="assets/img/imageModal/thumbs/20180823.jpg" 
	       data-full="assets/img/imageModal/20180823.jpg" 
	       alt="울림2 포스터" 
	       class="raon-thumb" 
	       onclick="openModal(this)">
	</
  </div>

<!-- 🔽 모달 HTML -->
<div id="imageModal" class="raon-image-modal" onclick="closeModal()">
  <span class="raon-modal-close">×</span>
  <img class="raon-modal-content" id="modalImg">
</div>