@font-face {
  font-family: 'Hakgyoansim OTF R';
  src: url('/assets/css/font/HakgyoansimDunggeunmisoOTF-R-KO.woff2') format('woff2'),
       url('/assets/css/font/HakgyoansimDunggeunmisoOTF-R-KO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hakgyoansim OTF B';
  src: url('/assets/css/font/HakgyoansimDunggeunmisoOTF-B-KO.woff2') format('woff2'),
       url('/assets/css/font/HakgyoansimDunggeunmisoOTF-B-KO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hakgyoansim Dunggeunmiso TTF B';
  src: url('/assets/css/font/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2'),
       url('/assets/css/font/HakgyoansimDunggeunmisoTTF-B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hakgyoansim Dunggeunmiso TTF R';
  src: url('/assets/css/font/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2'),
       url('/assets/css/font/HakgyoansimDunggeunmisoTTF-R.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Hakgyoansim Dunggeunmiso TTF R', sans-serif;
  font-weight: normal;
}

strong, b, h1, h2, h3, h4, h5, h6 {
  font-family: 'Hakgyoansim Dunggeunmiso TTF B', sans-serif;
  font-weight: bold;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
}

/* 데스크탑 (992px 이상에서만 더 크게) */
@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 120%;
  }
}

.youtube-wrapper {
  position: relative;
  padding-bottom: 75%; /* 4:3 비율 */
  height: 0;
  overflow: hidden;
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio-item-wrapper {
  position: relative;
}

.more-indicator {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #fed136;
  color: #000;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
  z-index: 10;
  opacity: 0.9;
}

@media (min-width: 768px) {
  .more-indicator {
    font-size: 14px;
    padding: 4px 8px;
  }
}
.more-indicator:hover {
  background-color: #000;
  color: #fed136;
}

.about-text {
  font-size: 1.8rem;
  font-weight: 400;
}

@media (min-width: 992px) {
  .about-text {
    font-size: 2rem;
  }
}


.raon-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding: 10px;
}

.raon-thumb {
  width: calc(100% / 4 - 8px); /* 기본: 모바일 4개 */
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
 /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* PC용 (768px 이상이면 8등분) */
@media (min-width: 768px) {
  .raon-thumb {
    width: calc(100% / 8 - 8px);
  }
}


.raon-thumb:hover {
  transform: scale(1.05);
}

.raon-image-modal {
  display: none;
  position: fixed;
  z-index: 110 !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.raon-image-modal.show {
  display: flex;
}

.raon-modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.raon-modal-close {
  z-index: 111 !important;
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.blinking-text {
  animation: blinking 2s ease-in-out infinite;
}

@keyframes blinking {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}


@media (max-width: 576px) {
  .intro-heading {
    font-size: 1.5rem !important; /* 적당히 작은 크기 */
  }
}
